###  Dictionary

Create Dictionary for following information as "person1":
   - Name = Srikanth
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [6]:
# CODE HERE
person1={'Gender':'Male',
 'Location':'Nizampet,Hyderabad',
 'Name':'Srikanth',
 'Occupation':'Data Scientist'}
person1

{'Gender': 'Male',
 'Location': 'Nizampet,Hyderabad',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

In [2]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [7]:
# CODE HERE
b=person1.keys()
list(b)

['Gender', 'Location', 'Name', 'Occupation']

In [3]:
#  CODE HERE

['Name', 'Gender', 'Occupation', 'Location']

> Srikanth age is 27. Assign his age in person1 as key "Age"

In [8]:
# CODE HERE
person1["age"]=27
person1

{'Gender': 'Male',
 'Location': 'Nizampet,Hyderabad',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist',
 'age': 27}

In [5]:
person1

{'Age': 27,
 'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> Remove Location in person1

In [9]:
# CODE HERE
person1.pop("Location")
person1

{'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist',
 'age': 27}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> Create dictionary of person2 with
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [10]:
# CODE HERE
person2={"Name":"Raghu Ram","Gender":"Male","Age":25,"Occupation":"Data Scientist"}
person2

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': 25,
 'Occupation': 'Data Scientist'}

In [8]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> Append values on Person1 and Person2

In [9]:
print('='*20,'person1','='*20)
print(person1)
print('='*20,'person2','='*20)
print(person2)

==================== person1 ====================
{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Age': 27}
==================== person2 ====================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

In [11]:
# CODE HERE to append
for i in person1:
    if i in person2:
        person1[i]=[person1[i],person2[i]]
person1

{'Gender': ['Male', 'Male'],
 'Name': ['Srikanth', 'Raghu Ram'],
 'Occupation': ['Data Scientist', 'Data Scientist'],
 'age': 27}

# create a dictionary
#### remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [12]:
# CODE HERE
d={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
### print the values from the above dictionary in descending order

In [18]:
# CODE HERE
a={0: 0,3: 9,1: 1, 5: 25, 9: 81, 7: 49}
b=sorted(a.values())
b.reverse()
print(b)

[81, 49, 25, 9, 1, 0]

database = {'ram':1234,'raghu':5678,'kanav':1357}
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [17]:
# CODE HERE
database = {'ram':1234,'raghu':5678,'kanav':1357}
username=input("please enter the username: ")
password=int(input("please enter the password: "))
if username in database and password==database[username]:
    print("hello",username)
elif username in database and password!=database[username]:
    print("hello",username,"retry password")
else:
    print("you want me to add into database?")
    a=input("yes/no: ")
    if a=="yes":
        database.update({username:password})
print(database)

please enter the username: uiio
please enter the password: 9876
you want me to add into database?
yes/no: {'ram': 1234, 'raghu': 5678, 'kanav': 1357, 'uiio':9876
{'ram': 1234, 'raghu': 5678, 'kanav': 1357}

### merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [16]:
# CODE HERE
dict1 = { 'a': 1, 'b' : 2 }
dict2 = { 'b': 3, 'c' : 4 }
dict3 = { 'c': 5, 'd' : 6 }
dict1.update(dict2)
dict1

{'a': 1, 'b': 3, 'c': 4}

In [3]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)