###  LIST

Create a list of numbers
> nums = [1,2,3,4]

In [3]:
nums=[1,2,3,4]
nums

[1, 2, 3, 4]

** 1. Remove number "3" in a list**

In [4]:
# Method 1 
nums.remove(3)
nums

[1, 2, 4]

In [10]:
# Method 2
nums=[1,2,3,4]
nums.pop(2)
nums

[1, 2, 4]

In [5]:
# Method 3
nums=[1,2,3,4]
del nums[2]
nums

[1, 2, 4]

** Remove last element in the list **
> hint: remove 4 (L.pop)

In [6]:
nums.pop()

4

**Check nums.pop(0) ** 
> write you comment after executing this command

In [26]:
# removes zeroth position
nums.pop(0)

1

In [ ]:
 **Extent** list (3,4)
 > **hint: nums.extend([3,4])

In [27]:
# Method1
nums=[2]
nums.append(3)
nums.append(4)
nums

[2, 3, 4]

In [28]:
#Method 2
nums=[2]
nums.extend([3,4])
nums

[2, 3, 4]

**Insert number "1" in 0th position**

In [29]:
nums.insert(0,1)
nums

[1, 2, 3, 4]

**Insert "two-and-half" in 2nd position**

In [30]:
nums.insert(2,"two-and-half")
nums

[1, 2, 'two-and-half', 3, 4]

[1, 2, 'two-and-half', 3, 4]

**2. Create a list with name plist with phrase = "Don't panic!"**

In [4]:
st="Don't panic!"
st

"Don't panic!"

*convert into list*

In [5]:
st="Don't panic!"
plist=list(st)
plist

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

Remove ** '** and **!** in the list

In [6]:
plist.remove("'")
plist.remove("!")
plist

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**Remove "p" , "a", "n","D" and extend the list at the last**

In [7]:
l1=plist[1:5]
l2=plist[8:]
l3=["P","a","n","D"]
plist=l1+l2+l3
plist

['o', 'n', 't', ' ', 'i', 'c', 'P', 'a', 'n', 'D']

**Explain how ?**

**Joining List**

**Extract last 4 element in plist and append "a" and name as plist1**

- Extract list

In [9]:
plist[-4:]

['a', 'n', 'i', 'c']

- append list

In [54]:
plist1=plist[-4:]+list("a")
plist1

['P', 'a', 'n', 'D', 'a']

In [48]:
plist1

['p', 'a', 'n', 'D', 'a']

- Join list

In [57]:
"".join(plist1)

'PanDa'

###  Tuples

Create a tuples for numbers 31,24,35,85 as nums

In [58]:
# CODE HERE
i=(31,24,35,85)
print(type(i))
i

<class 'tuple'>

(31, 24, 35, 85)

data type <class 'tuple'>
(31, 24, 35, 85)

** Remove number "35" in a tuple**

*Hint:* Convert into list

In [59]:
# CODE HERE
i=list(i)
i.remove(35)
print(i)

[31, 24, 85]

(31, 24, 85)

**Extent** tuple (85,19)

In [60]:
# CODE HERE
i.extend([85,19])
i

[31, 24, 85, 85, 19]

(31, 24, 85, 85, 19)

### If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [64]:
# CODE HERE
s="5 2 3 6 6 5"
a=s.split()
for i in range(0,len(a)):
    a[i]=int(a[i])
maximum_val=a[0]
for i in range(0,len(a)):
     if a[i]>maximum_val:
        maximum_val=a[i]
second_max=a[0]
for i in range(0,len(a)):
    if a[i]>second_max and a[i]!=maximum_val:
        second_max=a[i]
print(second_max)

5

### By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [65]:
# CODE HERE
s=[12,24,35,70,88,120,155]
[i for i in s if 1!=s[0] and i!=s[4] and i!=s[5]]

[12, 24, 35, 70, 155]

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [66]:
t=(1,2,3,4,5,6,7,8,9,10)
a=int(len(t)/2)
print(t[:a])
print(t[a:])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [67]:
numbers=(1,2,3,4,5,6,7,8,9,10)
even_numbers=[]
for i in numbers:
    if i%2==0:
        even_numbers.append(i)
even_numbers
print(tuple(even_numbers))

(2, 4, 6, 8, 10)

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)