## Give some statistics about Dataset

In [1]:
# Import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import stats

In [3]:
# read dataframe


df = pd.read_csv(r"C:\Users\dell\Desktop\hypothesis testing\Hypothesis_testing_Assignment\cust_seg.csv")
df.head()

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3
3,141,0,4,3,1,3,63,44,56.4,48.4
4,172,0,4,2,1,2,47,52,68.4,57.2

In [4]:
df.isnull().sum()

custid                 0
sex                    0
AqChannel              0
region                 0
Marital_status         0
segment                0
pre_usage              0
Post_usage_1month      0
Latest_mon_usage       0
post_usage_2ndmonth    0
dtype: int64

In [5]:
df.duplicated().sum()

0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   custid               200 non-null    int64
 1   sex                  200 non-null    int64
 2   AqChannel            200 non-null    int64
 3   region               200 non-null    int64
 4   Marital_status       200 non-null    int64
 5   segment              200 non-null    int64
 6   pre_usage            200 non-null    int64
 7   Post_usage_1month    200 non-null    int64
 8   Latest_mon_usage     200 non-null    float64
 9   post_usage_2ndmonth  200 non-null    float64
dtypes: float64(2), int64(8)
memory usage: 15.8 KB

In [7]:
df.describe()

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
count,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,0.54500,3.430000,2.055000,1.160000,2.025000,52.230000,52.775000,63.174000,58.052500
std,57.879185,0.49922,1.039472,0.724291,0.367526,0.690477,10.252937,9.478586,11.242137,10.426445
min,1.000000,0.00000,1.000000,1.000000,1.000000,1.000000,28.000000,31.000000,39.600000,34.100000
25%,50.750000,0.00000,3.000000,2.000000,1.000000,2.000000,44.000000,45.750000,54.000000,50.325000
50%,100.500000,1.00000,4.000000,2.000000,1.000000,2.000000,50.000000,54.000000,62.400000,59.400000
75%,150.250000,1.00000,4.000000,3.000000,1.000000,2.250000,60.000000,60.000000,70.800000,66.000000
max,200.000000,1.00000,4.000000,3.000000,2.000000,3.000000,76.000000,67.000000,90.000000,73.700000

# 1. Card usage has been improved significanlty from last year usage which is 50. 
(Hint: comparing card usage of post campaign of 1 month with last year hypothesized value 50)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   custid               200 non-null    int64
 1   sex                  200 non-null    int64
 2   AqChannel            200 non-null    int64
 3   region               200 non-null    int64
 4   Marital_status       200 non-null    int64
 5   segment              200 non-null    int64
 6   pre_usage            200 non-null    int64
 7   Post_usage_1month    200 non-null    int64
 8   Latest_mon_usage     200 non-null    float64
 9   post_usage_2ndmonth  200 non-null    float64
dtypes: float64(2), int64(8)
memory usage: 15.8 KB

In [ ]:
# null and alternate hypothesis are 
H0: mu = 50
HA: mu > 50
""" since we have to compare pre and post campaign card usage we use one sample t-test. """

In [11]:
df.Post_usage_1month.mean()

52.775

In [12]:
df.Post_usage_1month.std()

9.478586021386526

In [13]:
stats.ttest_1samp(a = df.Post_usage_1month, popmean = 50)

Ttest_1sampResult(statistic=4.140324966963024, pvalue=5.120919460716355e-05)

In [ ]:
# As p-value is less than 0.05 we reject null hypothesis. i.e card usage has significantly improved .

# 2. The last campaign was successful in terms usage of credit card. 
(Hint comparning means for card usage of pre and post usage of campaign).

In [14]:
df1=df.copy()

In [15]:
df1['post_usage'] = (df1['Post_usage_1month']+df1['post_usage_2ndmonth']+df1['Latest_mon_usage'])/3

In [ ]:
# null and alternate hypothesis are 
H0: mu_pre_usage = mu_post_usage
HA: mu_pre_usage < mu_post_usage
""" comparning means for card usage of pre and post usage of campaign, we use paired t-test """

In [16]:
stats.ttest_rel(a = df1.pre_usage, b = df1.post_usage)

Ttest_relResult(statistic=-10.380367681995397, pvalue=1.887014113066209e-20)

In [ ]:
# As p-value is less than 0.05 we reject null hypothesis. i.e. average post-usage is higher.

# 3. Is there any difference between males and females in terms of credit card usage? 
(Hint: Comparing means of Card usage for males and females)

In [ ]:
H0: there is no difference between males and females in terms of credit card usage
HA: there is difference between males and females in terms of credit card usage.
 
""" We will use unpaired t-test """"""

In [17]:
males_cu = df1.loc[df1['sex']==1 , 'post_usage'].to_numpy()
females_cu = df1.loc[df1['sex']==0 , 'post_usage'].to_numpy()

In [18]:
stats.ttest_ind(a = males_cu, b = females_cu , equal_var = False)

Ttest_indResult(statistic=2.3776344445347046, pvalue=0.018486032895701235)

# 4. Is there any relation between region and segment? 
(Hint: Finding the relationship between categorical variables and Segment)

In [ ]:
H0: region and segment are independent.
HA: region and segment are dependent.
 
""" We will use chi square test """"""

In [19]:
tab = pd.crosstab(df.region , df.segment)
tab

segment   1   2   3
region
1        16  19  12
2        20  44  31
3         9  42   7

In [20]:
# chi-squared test with similar proportions
from scipy.stats import chi2_contingency
from scipy.stats import chi2
stat, p, dof, expected = chi2_contingency(tab)
print('dof=%d' % dof)
print(expected)
# interpret test-statistic
prob = 0.95
critical = chi2.ppf(prob, dof)
print('probability=%.3f, critical=%.3f, stat=%.3f' % (prob, critical, stat))
if abs(stat) >= critical:
 print('Dependent (reject H0)')
else:
 print('Independent (fail to reject H0)')
# interpret p-value
alpha = 1.0 - prob
print('significance=%.3f, p=%.3f' % (alpha, p))
if p <= alpha:
 print('Dependent (reject H0)')
else:
 print('Independent (fail to reject H0)')

dof=4
[[10.575 24.675 11.75 ]
 [21.375 49.875 23.75 ]
 [13.05  30.45  14.5  ]]
probability=0.950, critical=9.488, stat=16.604
Dependent (reject H0)
significance=0.050, p=0.002
Dependent (reject H0)

In [ ]:
# As p-value is less than 0.05 , we reject H0 i.e region and segment are related .